<div>
    <nav class="navbar bg-secondary navbar-dark navbar-expand md">

        <ul class="navbar-nav">

            <li class="nav-item"><a href="/home" class="nav-link active">HOME</a></li>
            <li class="nav-item "><a href="/pay" class="nav-link active">Payfees</a></li>
            <li style="margin-left: 5px;" class="nav-item "><a href="/disp" class="nav-link active">Student details</a></li>


        </ul>
        <ul class="navbar-nav ms-auto ">

           
            <form >
                <li style="margin-left: 5px;" class="nav-item "><button  class="btn btn-secondary" formaction="/disps" formmethod="post" ><a  class="nav-link active">All students</a>

            </form>
            

            </button></li>


        </ul>
    </nav>
</div>